 body {
   padding-top: 75;
   padding-left: 0;
   padding-right: 0;
   background:  url(../img/wavegrid.png);
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
#top-nav {
   background: #ff9537;
   max-height: 75px;
   font: 20px 'Maven Pro', sans-serif;
   color: black;
   a.nav
}

#top-nav a {
   color: #111111;
}
#top-nav a:hover {
   color: white;
}
#top-nav .navbar-nav{
   padding-top: 15px;
}

.navbar-nav li{
   padding: 0px 20px 0px 20px;
}
.navbar-brand{
   margin-top:-7px;
}
#absolute-wrapper .hero-unit {
   background: #eeeeee url(../img/owl.jpg) no-repeat 0px 0px;
   background-size: cover;
   background-position: right top;
   width:100%;
   height:75%%;
   position: absolute;
 }

.hero-unit #intro-text {
   font: 30px 'Maven Pro', sans-serif;
   position: absolute;
   top: 200px;
   left:100px;
}

#intro-text h1{
   font: 60px 'Maven Pro', sans-serif;
}
