 body {
   padding-top: 75;
   padding-left: 0;
   padding-right: 0;
   background:  url(../img/wavegrid.png);
   font: 'Maven Pro', sans-serif;
 }

#top-nav {
   background: #ff9537;
   height: 75px;
   font: 20px 'Maven Pro', sans-serif;
   color: black;
   a.nav
}

#top-nav .navbar-inner{
   background: #ff9537;
   padding-top: 7px;
}

#top-nav a {
   color: #111111;
}
#top-nav a:hover {
   color: white;
}

.navbar-nav li{
   padding: 8px 20px 0px 20px;
}

.hero-unit {
   background: #eeeeee url(../img/owl.jpg) no-repeat 0px 0px;
   background-size: cover;
   background-position: right top;
   height:700px;
 }

.hero-unit #displaybox {
   font: 30px 'Maven Pro', sans-serif;
   color: #23160e;
   position: relative;
   padding-top: 200px;
   padding-left: 100px;
}

#intro-text h1{
   font: 60px 'Maven Pro', sans-serif;
}

.section {
   margin-top: 50px;
   margin-bottom: 50px;
}

.header {
   text-align: center;
   color: #23160e;
   font: 30px 'Maven Pro', sans-serif;
   margin-top: 10px;
   margin-bottom: 10px;
}

